---
import photo from '@assets/images/photo.jpg';
import Layout from '@layouts/Layout.astro';
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';

const { data } = await getEntry('teacher', 'maxova');
const { address, city, email, name, street, surname, zip } = data;
---

<Layout>
  <div class="m-auto mt-4 max-w-xs p-2 text-center text-dominant shadow-lg">
    <Image src={photo} alt={`${name} ${surname} - foto`} title={`${name} ${surname}`} class="w-full" />
    <article class="my-4 border-y-2 py-1">
      <h1 class="text-3xl">{name}&nbsp;{surname}</h1>
      <p>
        {address}<br />
        {street}<br />
        {city}, {zip}
      </p>
    </article>
    <p class="mb-2">
      <a class="font-semibold text-accent hover:underline" href={`mailto:${email}`}>{email}</a>
    </p>
  </div>
</Layout>
