---
import LectureCard from '@components/LectureCard.svelte';
import Layout from '@layouts/Layout.astro';
import { getCollection } from 'astro:content';

const collection = await getCollection('lecture');
const lectures = collection.map(({ data }) => data).sort((a, b) => a.position - b.position);
---

<Layout>
  <section class="m-auto mb-8 flex flex-row flex-wrap xl:max-w-6xl">
    {
      lectures.map(({ span, day, id, moodle, room, time, name }) => (
        <LectureCard {span} {day} {id} {moodle} {name} {time} {room} />
      ))
    }
  </section>
</Layout>
